body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #100e11;
}

.navbar{
    margin: 0;
}

.company-introduce{
    height: 600px;
    background-color: #000;
    text-align: center;
    position: relative;
    background: url('/img/about_banner.jpg') center no-repeat;
}

.company-introduce .title{
    margin-top: 400px;
    color: #fff;
    font-size: 30px;
}

.company-introduce .introdution{
    width: 700px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    color: #fff;
}

.company {
    color: #fff;
}

.company .title {
    font-size: 33px;
    margin-top: 30px;
}

.company .pic {
    margin-top: 20px;
    margin-bottom: 50px;
}

.company .pic img {
    max-height: 250px;
}

.company .introduceCon {
    text-align: left;
    display: flex;
    align-items: center;
    padding-top: 50px
}

.company .info {
    font-size: 16px;
    vertical-align: middle;
    flex: 1;
    text-indent: 2em;
}

@media screen and (max-width: 768px){
    .company-introduce {
        height: 400px;
        background-size: cover;
    }

    .company-introduce .title {
        margin-top: 0;
        position: absolute;
        top: 60%;
        left: 50%;
        margin-left: -30px;
    }

    .company-introduce .introdution{
        width: 80%;
        position: absolute;
        bottom: 20px;
        left: 50%;
        margin-left: -40%;
    }
}