.banner{
    margin-top: 51px;
}

.section {
    overflow: hidden;
}

.section1 img {
    height: 235px;
}    

.section1 img {
    margin: 0 auto;
}

.section small {
    margin-left: 10px;
}

.section h3 {
    padding-left: 30px;
}

.section table{
    margin-bottom: 20px;
}


.handle_banner {
    background: url('/img/production/handle.jpg') center no-repeat;
}

.door_lock_banner {
    background: url('/img/production/doorLock.jpg') center no-repeat;    
}

.floor_hinge_banner {
    background: url('/img/production/floorHinge.jpg') center no-repeat;    
}

.door_handle_banner {
    background: url('/img/production/doorHandle.jpg') center no-repeat;    
}

.door_closer_banner {
    background: url('/img/production/doorCloser.jpg') center no-repeat;    
}

.sec_banner {
    margin-top: 51px;
    height: 300px;
    width: 100%;
    background-size: cover;
    position: relative;
}

.sec_banner .bannerBg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0, .3)
}

.sec_banner .banner_text{
    width: 100%;
    height: 50px;
    font-size: 32px;
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -25px;
}

.container {
    width: 100%;
    margin-top: 30px;
}

.section .imgCon {
    border-top: 1px solid #c3c3c3;
    margin: 20px 0;
    padding-top: 10px;
}

.section .imgCon {
    border-top: 1px solid #c3c3c3;
    margin: -1px;
    padding: 20px;
}

.section1 .handle img{
    height: 150px;
}

.section .doorCloser img,
.section .doorHandle img {
    height: 400px;
}

