//Created by Administrator on 2016/11/16.
extends ../layout

block content
  .banner.container-fluid
    .row
      .banner-detail 凌尔
  .section
    .summery
  .section
    .content
      .title
        .icon.
