//Created by Administrator on 2016/11/16.
extends ../layout

block content
  .company-introduce.container-fluid
    .title 凌尔
    .introdution 伟易达五金是一家专业生产门窗、门控、幕墙配件，集研发，生产，销售于一体的大型现代企业。先进的生产设备和完善的质量保证体系，大量优秀的专业人才
  .section
    .fleid
      .building
      .school
      .company
    .fleid-more
  .company.container-fluid
    .title.text-center 公司简介
    .row
      .pic
        .col-sm-6.col-sm-offset-1
          img.img-responsive(src="/img/company_introduce.jpg")
        .col-sm-4.introduceCon
          .info 凌尔五金是一家专业生产门窗、门控、幕墙配件，集研发、生产、销售于一体的大型现代化企业。
        .clearfix
      .pic
        .col-sm-6.col-sm-offset-1
          img.img-responsive(src="/img/company_introduce2.jpg")
        .col-sm-4.introduceCon
          .info 先进的生产设备和完善的质量保证体系，大量优秀的专业人才，团结务实的敬业精神和遍布各地的销售网络使产品远销国内外。
        .clearfix        
      .pic
        .col-sm-6.col-sm-offset-1
          img.img-responsive(src="/img/company_introduce3.jpg")
        .col-sm-4.introduceCon
          .info “凌尔”品牌把产品的实用性和艺术性相结合，以更贴近人性化的设计为现代人的装饰生活增添更高的品味。我们以质量树品牌，以信誉立市场，以创新谋发展，真诚与客商携手合作共赢，让“凌尔”品牌走向全世界！