//Created by Administrator on 2016/11/16.
extends ../layout

block content
  #content
    .section
      .col-sm-4.cate-con
        .cate-img.window-support
        a.cate-bg(href="/pro/window_support")
        .row.cate 平开滑撑
      .col-sm-4.cate-con
        .cate-img.door-handle
        .cate-bg
        .row.cate 执手系列
      .col-sm-4.cate-con
        .cate-img.door-lock
        .cate-bg
        .row.cate 地锁系列
      .clearfix      
    .section
      .col-sm-4.cate-con
        .cate-img.door-closer
        .cate-bg
        .row.cate 闭门器系列
      .col-sm-4.cate-con
        .cate-img.door-lock
        .cate-bg
        .row.cate 平开滑撑
      .col-sm-4.cate-con
        .cate-img.floor-hinge
        .cate-bg
        .row.cate 执手系列
      .clearfix
  script(src="js/about.js")