//Created by Administrator on 2016/11/16.
extends ../layout
block content
  .banner.container-fluid
    .row
      .bannerPic
        .text-center.banner-text 专业门窗、门控、幕墙五金配套专家
  .produtions.container-fluid.pro-introduce
    .row
      .win-support.title.text-center(style="margin-top: 5px;") 
        .mask
        span 窗撑系列
    .col-md-4.col-sm-4
      .product
        img.img-responsive(src="/img/LR-220.jpg")
        .detail.text-center LR-220
        p.text-center 详细介绍 >>
    .col-md-4.col-sm-4
      .product
        img.img-responsive(src="/img/LR-13.5.jpg")
        .detail.text-center LR-13.5
        p.text-center 详细介绍 >>
    .col-md-4.col-sm-4
      .product
        img.img-responsive(src="/img/LR-180.jpg")
        .detail.text-center LR-180 
        p.text-center 详细介绍 >>
  .produtions.container-fluid.pro-introduce
    .row
      .handler.title.text-center 
        .mask
        span 窗执手系列
    .col-md-3.col-sm-3
      .product
        img.img-responsive(src="/img/LR-101.jpg")
        .detail.text-center LR-101
        p.text-center 详细介绍 >>      
    .col-md-3.col-sm-3
      .product
        img.img-responsive(src="/img/LR-102.jpg")
        .detail.text-center LR-102
        p.text-center 详细介绍 >>      
    .col-md-3.col-sm-3
      .product
        img.img-responsive(src="/img/LR-103.jpg")
        .detail.text-center LR-103
        p.text-center 详细介绍 >>      
    .col-md-3.col-sm-3
      .product
        img.img-responsive(src="/img/LR-104.jpg")
        .detail.text-center LR-104
        p.text-center 详细介绍 >>      
    .col-md-3.col-sm-3
      .product
        img.img-responsive(src="/img/LR-105.jpg")
        .detail.text-center LR-105
        p.text-center 详细介绍 >>      
    .col-md-3.col-sm-3
      .product
        img.img-responsive(src="/img/LR-106.jpg")
        .detail.text-center LR-106
        p.text-center 详细介绍 >>      
    .col-md-3.col-sm-3
      .product
        img.img-responsive(src="/img/LR-107.jpg")
        .detail.text-center LR-107
        p.text-center 详细介绍 >>      
    .col-md-3.col-sm-3
      .product
        img.img-responsive(src="/img/LR-108.jpg")
        .detail.text-center LR-108
        p.text-center 详细介绍 >>
  .produtions.container-fluid.pro-introduce
    .row
      .door-closing-machine.title.text-center 
        .mask
        span 关门器系列
    .col-md-3.col-sm-3
      .product
        img.img-responsive(src="/img/LR-1501.jpg")
        .detail.text-center LR-1501（小机）
        p.text-center 详细介绍 >>
    .col-md-3.col-sm-3
      .product
        img.img-responsive(src="/img/LR-1502.jpg")
        .detail.text-center LR-1502（中机）
        p.text-center 详细介绍 >>   
    .col-md-3.col-sm-3
      .product
        img.img-responsive(src="/img/LR-1503.jpg")
        .detail.text-center LR-1503（大机）
        p.text-center 详细介绍 >>   
    .col-md-3.col-sm-3
      .product
        img.img-responsive(src="/img/LR-1504.jpg")
        .detail.text-center LR-1504（异性机）
        p.text-center 详细介绍 >>
    .col-md-3.col-sm-3
      .product
        img.img-responsive(src="/img/LR-1505.jpg")
        .detail.text-center LR-1505（隐藏式）
        p.text-center 详细介绍 >>   
    .col-md-3.col-sm-3
      .product
        img.img-responsive(src="/img/LR-1506.jpg")
        .detail.text-center LR-1506（隐藏式）
        p.text-center 详细介绍 >>    
  