//Created by Administrator on 2016/11/16.
extends ../layout
block content
  .banner.container-fluid
    .row
      .bannerPic
        .detail 专业门窗、门控、幕墙五金配套专家
  .section.container-fluid
    .row
      .pic.col-md-6
      .detail.col-md-4.col-md-offset-2 产品展示
  .section.container-fluid
    .row
      .detail.col-md-4.col-md-offset-2 产品展示
      .pic.col-md-6
  .section.container-fluid
    .row
      .pic.col-md-6
      .detail.col-md-4.col-md-offset-2 产品展示