//Created by Administrator on 2016/11/16.
extends ../layout

block content
  .company-introduce.container-fluid
    .title 凌尔
    .introdution 伟易达五金是一家专业生产门窗、门控、幕墙配件，集研发，生产，销售于一体的大型现代企业。先进的生产设备和完善的质量保证体系，大量优秀的专业人才
  .section
    .fleid
      .building
      .school
      .company
    .fleid-more
