//Created by Administrator on 2016/11/16.
extends ../layout

block content
  #content
    .section
      .col-sm-4.cate-con
        .cate-img.window-support
        a.cate-bg(href="/pro/window_support")
        .row.cate 平开滑撑
      .col-sm-4.cate-con
        .cate-img.handle
        a.cate-bg(href="/pro/handle")
        .row.cate 执手系列
      .col-sm-4.cate-con
        .cate-img.door-lock
        a.cate-bg(href="/pro/doorLock")
        .row.cate 门夹系列
      .clearfix      
    .section
      .col-sm-4.cate-con
        .cate-img.door-closer
        a.cate-bg(href="/pro/doorCloser")
        .row.cate 闭门器系列
      .col-sm-4.cate-con
        .cate-img.door-handle
        a.cate-bg(href="/pro/doorHandle")
        .row.cate 拉手系列
      .col-sm-4.cate-con
        .cate-img.floor-hinge
        a.cate-bg(href="/pro/floorHinge")
        .row.cate 地弹簧系列
      .clearfix
  script(src="js/production.js")