//Created by Administrator on 2017/10/05.
extends ../../layout

block content
  .floor_hinge_banner.sec_banner.container-fluid
    .row
      .bannerBg
      .banner_text.text-center 地弹簧系列
  .container.container-fluid(id="floorHingeCon")
    .section.section1.clearfix

  script(src="/js/pro/floorHinge.js")