//Created by Administrator on 2017/09/11.
extends ../../layout

block content
  .handle_banner.sec_banner.container-fluid
    .row
      .bannerBg
      .banner_text.text-center 执手系列
  .container.container-fluid(id="handleCon")
    .section.section1.clearfix   
    .section.section4.clearfix                 
    .section.section5.clearfix                 
    .section.section6.clearfix                 
       
  script(src="/js/pro/handle.js")