//Created by Administrator on 2017/09/11.
extends ../../layout

block content
  .handle_banner.container-fluid
    .row
      .bannerBg
      .banner_text.text-center 执手系列
  .handle_container.container-fluid(id="handleCon")
    .section.section1.clearfix
    .section.section2.clearfix
      .col-sm-4.col-sm-offset-1
        img.img-responsive(src="/img/production/handle/LR-401.jpg")
      .col-sm-4.col-sm-offset-2
        img.img-responsive(src="/img/production/handle/LR-402.jpg")
      .col-sm-8.col-sm-offset-2
        img.img-responsive(src="/img/production/handle/LR-403.jpg")
      .col-sm-8.col-sm-offset-2
        img.img-responsive(src="/img/production/handle/LR-409.jpg") 
      .col-sm-8.col-sm-offset-2
        img.img-responsive(src="/img/production/handle/LR-411.jpg") 
      .col-sm-8.col-sm-offset-2
        img.img-responsive(src="/img/production/handle/LR-413.jpg")
    .section.section3.clearfix            
      .col-sm-8.col-sm-offset-2
        img.img-responsive(src="/img/production/handle/LR-415.jpg")     
    .section.section4.clearfix                 
    .section.section5.clearfix  
      .col-sm-3
        img.img-responsive(src="/img/production/handle/LR-432.jpg")
      .col-sm-3
        img.img-responsive(src="/img/production/handle/LR-433.jpg")
      .col-sm-3
        img.img-responsive(src="/img/production/handle/LR-434.jpg")
      .col-sm-3
        img.img-responsive(src="/img/production/handle/LR-435.jpg") 
      .col-sm-3
        img.img-responsive(src="/img/production/handle/LR-436.jpg") 
      .col-sm-3
        img.img-responsive(src="/img/production/handle/LR-437.jpg")     
  script(src="/js/pro/handle.js")