//Created by Administrator on 2016/11/16.
extends ../../layout

block content
  .banner.container-fluid
    .row
      .bannerPic
        .banner-text 
  .section.clearfix
    h2.text-center(name="LR-220-ping-a") LR-220型
      small 方槽不锈钢平开窗撑
    .col-sm-6
      img.img-responsive(src="/img/production/windowSupport/LR-220-ping-a.jpg") 
    .col-sm-6
      img.img-responsive(src="/img/production/windowSupport/LR-220-ping-a-con.jpg")       
    .col-sm-12
      h3 详细数据
      .table-responsive
        table.table.table-hover.table-bordered
          tr
            th 规格
            th 长度A
            th 长度B
            th 长度C
            th 长度D
            th 长度E
            th 长度F
            th 长度G
            th 叠高H
            th I
            th J
            th K
            th L
            th 开启角度
            th 窗最重(kg)
            th 窗最高(mm)
            th 窗最宽(mm)
          tr
            td 8''×3
            td 210
            td 32
            td --
            td --
            td 153
            td 202
            td 42.5
            td 17
            td --
            td --
            td 155.5
            td 169
            td 65°-2°
            td 13
            td 1500
            td 400
          tr
            td 10''×3
            td 261
            td 32
            td --
            td --
            td 194
            td 253
            td 42.5
            td 17
            td 60.5
            td --
            td 177.6
            td 191.1
            td 90°-2°
            td 20
            td 1500
            td 500
          tr
            td 12''×3            
            td 304            
            td 32         
            td 43.5            
            td 217            
            td 245.5            
            td 296            
            td 42.5            
            td 17            
            td 60.5            
            td --            
            td 196.5            
            td 210            
            td 90°-2°            
            td 25            
            td 1500
            td 600
          tr
            td 14''×3            
            td 355            
            td 32            
            td 43.5            
            td 256            
            td 287.5            
            td 347            
            td 42.5            
            td 17            
            td 60.5            
            td --            
            td 229.5            
            td 243
            td 90°-2°            
            td 30            
            td 1500  
            td 700
          tr
            td 16''×3            
            td 404            
            td 32         
            td 43.5            
            td 261            
            td 292           
            td 396            
            td 42.5            
            td 17            
            td 60.5            
            td --            
            td 229.5            
            td 243            
            td 90°-2°            
            td 35            
            td 1500
            td 800
  .section.clearfix
    h2.text-center(name="LR-220-ping-b") LR-220型
      small 方槽不锈钢平开窗撑
    .col-sm-6
      img.img-responsive(src="/img/production/windowSupport/LR-220-ping-b.jpg") 
    .col-sm-6
      img.img-responsive(src="/img/production/windowSupport/LR-220-ping-b-con.jpg")       
    .col-sm-12
      h3 详细数据
      .table-responsive
        table.table.table-hover.table-bordered
          tr
            th 规格
            th 长度A
            th 长度B
            th 长度C
            th 长度D
            th 长度E
            th 长度F
            th 长度G
            th 叠高H
            th I
            th J
            th K
            th L
            th 开启角度
            th 窗最重(kg)
            th 窗最高(mm)
            th 窗最宽(mm)
          tr
            td 8''×3
            td 210
            td 32
            td --
            td --
            td 153
            td 202
            td 42.5
            td 17
            td --
            td --
            td 155.5
            td 169
            td 65°-2°
            td 15
            td 1200
            td 400
          tr
            td 10''×3
            td 261
            td 32
            td --
            td --
            td 194
            td 253
            td 42.5
            td 17
            td 60.5
            td --
            td 177.6
            td 191.1
            td 90°-2°
            td 20
            td 1200
            td 500
          tr
            td 12''×3            
            td 304            
            td 32         
            td 43.5            
            td 217            
            td 245.5            
            td 296            
            td 42.5            
            td 17            
            td 60.5            
            td --            
            td 196.5            
            td 210            
            td 90°-2°            
            td 25            
            td 1500
            td 600
          tr
            td 14''×3            
            td 355            
            td 32            
            td 43.5            
            td 256            
            td 287.5            
            td 347            
            td 42.5            
            td 17            
            td 60.5            
            td --            
            td 229.5            
            td 243
            td 90°-2°            
            td 30            
            td 1500  
            td 700
          tr
            td 16''×3            
            td 404            
            td 32         
            td 43.5            
            td 261            
            td 292           
            td 396            
            td 42.5            
            td 17            
            td 60.5            
            td --            
            td 229.5            
            td 243            
            td 90°-2°            
            td 35            
            td 1500
            td 800
          tr
            td 18''×3            
            td 458            
            td 32         
            td 43.5            
            td 320            
            td 349           
            td 450            
            td 42.5            
            td 17            
            td --            
            td 149            
            td 272            
            td 285.5            
            td 85°-2°            
            td 40            
            td 1500
            td 900
          tr
            td 20''×3            
            td 505            
            td 32         
            td 43.5            
            td 280            
            td 309           
            td 497            
            td 42.5            
            td 17            
            td 60.5            
            td 162.5            
            td 289.5            
            td 302            
            td 65°-2°            
            td 45            
            td 1500
            td 1000
          tr
            td 22''×3            
            td 557            
            td 32         
            td 43.5            
            td 259            
            td 288            
            td 549           
            td 42.5            
            td 17            
            td 60.5            
            td 196.5            
            td 303.5            
            td 320            
            td 55°-2°            
            td 50            
            td 1500
            td 1100
          tr
            td 24''×3            
            td 612            
            td 32         
            td 43.5            
            td 291            
            td 320            
            td 604           
            td 42.5            
            td 17            
            td 60.5            
            td 196.5            
            td 339            
            td 355.5            
            td 65°-2°            
            td 55            
            td 1500
            td 1200
  .section.clearfix
    h2.text-center(name="LR-220-ping-b") LR-220型
    h3 方槽不锈钢幕墙上悬窗撑
    .col-sm-6
      img.img-responsive(src="/img/production/windowSupport/LR-220-shang-a.jpg") 
    .col-sm-6
      img.img-responsive(src="/img/production/windowSupport/LR-220-shang-a-con.jpg")
    .col-sm-12
      h3.text-center 详细数据
      .table-responsive
        table.table.table-hover.table-bordered
          tr
            th 规格
            th 长度A
            th 长度B
            th 长度C
            th 长度D
            th 长度E
            th 长度F
            th 长度G
            th 叠高H
            th I
            th J
            th K
            th L
            th 开启角度
            th 窗最重(kg)
            th 窗最高(mm)
            th 窗最宽(mm)
          tr
            td 10''×3
            td 37
            td 82
            td --
            td 141
            td 36
            td 147
            td 169
            td 17
            td 198
            td 251.5
            td 259.5
            td --
            td 25°-30°
            td 20
            td 600
            td 1200
          tr
            td 12''×3            
            td 37            
            td 82 
            td 100        
            td 158            
            td 36            
            td 151.5           
            td 173.5            
            td 17            
            td 238.5            
            td 394.5           
            td 302.5            
            td --            
            td 30°-35°            
            td 25            
            td 800            
            td 1300
          tr
            td 14''×3            
            td 37            
            td 82            
            td 149            
            td 197            
            td 36            
            td 167            
            td 190            
            td 17            
            td 255            
            td 346.6            
            td 354.5            
            td --
            td 30°-35°            
            td 30
            td 1000            
            td 1300  
          tr
            td 16''×3            
            td 37            
            td 82         
            td 166.8            
            td 214.8            
            td 36           
            td 172.5            
            td 201.5            
            td 17            
            td 266.5            
            td 394            
            td 402            
            td --            
            td 30°-35°            
            td 35
            td 1200            
            td 1400
          tr
            td 18''×3            
            td 37            
            td 82         
            td 219.1            
            td 267.1            
            td 36           
            td 185            
            td 210            
            td 17            
            td 275            
            td 446            
            td 454            
            td --            
            td 30°-35°            
            td 40
            td 1400            
            td 1400
          tr
            td 20''×3            
            td 37            
            td 82         
            td 256.3            
            td 304.3            
            td 36           
            td 195            
            td 216            
            td 17            
            td 281            
            td 509.5            
            td 517.5            
            td --            
            td 25°-30°            
            td 45
            td 1600            
            td 1500    
          tr
            td 22''×3            
            td 37            
            td 82         
            td 314            
            td 262            
            td 36           
            td 189.5            
            td 219.5            
            td 17            
            td 284.5            
            td 549.5            
            td 557.5            
            td --            
            td 25°-25°            
            td 50
            td 1600            
            td 1500
          tr
            td 24''×3            
            td 37            
            td 82         
            td 314            
            td 262            
            td 36           
            td 185            
            td 201            
            td 17            
            td 266            
            td 595.5            
            td 603.5            
            td --            
            td 25°-25°            
            td 55
            td 1800            
            td 1500
    h3 方槽不锈钢平开窗重型滑轨      
    .col-sm-6
      img.img-responsive(src="/img/production/windowSupport/LR-220-shang-b.jpg") 
    .col-sm-6
      img.img-responsive(src="/img/production/windowSupport/LR-220-shang-b-con.jpg")
    h3 方槽不锈钢幕墙上悬窗撑（加重型）    
    .col-sm-6
      img.img-responsive(src="/img/production/windowSupport/LR-220-shang-c.jpg") 
    .col-sm-6
      img.img-responsive(src="/img/production/windowSupport/LR-220-shang-c-con.jpg")
  .section.clearfix
    h2.text-center(name="LR-220-ping-b") LR-13.5型（免钻孔槽型）
      small 方槽不锈钢平开窗撑
    .col-sm-6
      img.img-responsive(src="/img/production/windowSupport/LR-13.5-ping-a.jpg") 
    .col-sm-6
      img.img-responsive(src="/img/production/windowSupport/LR-13.5-ping-a-con.jpg")
    .col-sm-12
      h3.text-center 详细数据
      .table-responsive
        table.table.table-hover.table-bordered
          tr
            th 规格
            th 长度A
            th 长度B
            th 长度C
            th 长度D
            th 长度E
            th 长度F
            th 长度G
            th 叠高H
            th I
            th J
            th K
            th L
            th 开启角度
            th 窗最重(kg)
            th 窗最高(mm)
            th 窗最宽(mm)
          tr
            td 10''×3
            td 37
            td 82
            td --
            td 141
            td 36
            td 147
            td 169
            td 17
            td 198
            td 251.5
            td 259.5
            td --
            td 25°-30°
            td 20
            td 600
            td 1200
          tr
            td 12''×3            
            td 37            
            td 82 
            td 100        
            td 158            
            td 36            
            td 151.5           
            td 173.5            
            td 17            
            td 238.5            
            td 394.5           
            td 302.5            
            td --            
            td 30°-35°            
            td 25            
            td 800            
            td 1300
          tr
            td 14''×3            
            td 37            
            td 82            
            td 149            
            td 197            
            td 36            
            td 167            
            td 190            
            td 17            
            td 255            
            td 346.6            
            td 354.5            
            td --
            td 30°-35°            
            td 30
            td 1000            
            td 1300  
          tr
            td 16''×3            
            td 37            
            td 82         
            td 166.8            
            td 214.8            
            td 36           
            td 172.5            
            td 201.5            
            td 17            
            td 266.5            
            td 394            
            td 402            
            td --            
            td 30°-35°            
            td 35
            td 1200            
            td 1400
          tr
            td 18''×3            
            td 37            
            td 82         
            td 219.1            
            td 267.1            
            td 36           
            td 185            
            td 210            
            td 17            
            td 275            
            td 446            
            td 454            
            td --            
            td 30°-35°            
            td 40
            td 1400            
            td 1400
          tr
            td 20''×3            
            td 37            
            td 82         
            td 256.3            
            td 304.3            
            td 36           
            td 195            
            td 216            
            td 17            
            td 281            
            td 509.5            
            td 517.5            
            td --            
            td 25°-30°            
            td 45
            td 1600            
            td 1500    
          tr
            td 22''×3            
            td 37            
            td 82         
            td 314            
            td 262            
            td 36           
            td 189.5            
            td 219.5            
            td 17            
            td 284.5            
            td 549.5            
            td 557.5            
            td --            
            td 25°-25°            
            td 50
            td 1600            
            td 1500
          tr
            td 24''×3            
            td 37            
            td 82         
            td 314            
            td 262            
            td 36           
            td 185            
            td 201            
            td 17            
            td 266            
            td 595.5            
            td 603.5            
            td --            
            td 25°-25°            
            td 55
            td 1800            
            td 1500
  .section.clearfix
    h2.text-center(name="LR-220-ping-b") LR-13.5型(免垫铝条加固)
    h3 方槽重型不锈钢平开窗撑
    .col-sm-6
      img.img-responsive(src="/img/production/windowSupport/LR-13.5-ping-b.jpg") 
    .col-sm-6
      img.img-responsive(src="/img/production/windowSupport/LR-13.5-ping-b-con.jpg")
    .col-sm-12
      h3.text-center 详细数据
      .table-responsive
        table.table.table-hover.table-bordered
          tr
            th 规格
            th 长度A
            th 长度B
            th 长度C
            th 长度D
            th 长度E
            th 长度F
            th 长度G
            th 叠高H
            th I
            th J
            th K
            th L
            th 开启角度
            th 窗最重(kg)
            th 窗最高(mm)
            th 窗最宽(mm)
          tr
            td 8''×3
            td 210
            td 32
            td --
            td --
            td 153
            td 202
            td 42.5
            td 20
            td --
            td --
            td 155.5
            td 169
            td 65°-2°
            td 18
            td 1200
            td 400
          tr
            td 10''×3
            td 261
            td 32
            td --
            td --
            td 194
            td 253
            td 42.5
            td 20
            td 60.5
            td --
            td 177.6
            td 191.1
            td 90°-2°
            td 20
            td 1200
            td 500
          tr
            td 12''×3
            td 304
            td 32
            td 43.5
            td 217
            td 245.5
            td 296
            td 42.5
            td 20
            td 60.5
            td --
            td 196.6
            td 210
            td 90°-2°
            td 20
            td 1200
            td 600
          tr
            td 14''×3
            td 355
            td 32
            td 43.5
            td 256
            td 287.5
            td 347
            td 42.5
            td 20
            td 60.5
            td --
            td 229.5
            td 243
            td 90°-2°
            td 25
            td 1200
            td 650
          tr
            td 16''×3
            td 404
            td 32
            td 43.5
            td 261
            td 292
            td 396
            td 42.5
            td 20
            td 60.5
            td --
            td 229.5
            td 243
            td 90°-2°
            td 30
            td 1200
            td 700
          tr
            td 18''×3
            td 458
            td 32
            td 43.5
            td 320
            td 349
            td 450
            td 42.5
            td 20
            td --
            td 149
            td 272
            td 285.5
            td 85°-2°
            td 33
            td 1200
            td 750
          tr
            td 20''×3
            td 505
            td 32
            td 43.5
            td 280
            td 309
            td 497
            td 42.5
            td 20
            td 60.5
            td 162.5
            td 289.5
            td 302
            td 65°-2°
            td 38
            td 1200
            td 800
          tr
            td 22''×3
            td 557
            td 32
            td 43.5
            td 259
            td 288
            td 549
            td 42.5
            td 20
            td 60.5
            td 196.5
            td 303.5
            td 320
            td 55°-2°
            td 40
            td 1200
            td 850
          tr
            td 24''×3
            td 612
            td 32
            td 43.5
            td 291
            td 320
            td 604
            td 42.5
            td 20
            td 60.5
            td 196.5
            td 339
            td 355.5
            td 65°-2°
            td 55
            td 1200
            td 900
    h2.text-center LR-13.5型
      small 二连杆限位冈撑
    .col-sm-6
      img.img-responsive(src="/img/production/windowSupport/LR-13.5-ping-c.jpg") 
    .col-sm-6
      img.img-responsive(src="/img/production/windowSupport/LR-13.5-ping-c-con.jpg")
    h2.text-center LR-13.5型
      small 二连杆限位冈撑
    .col-sm-6
      img.img-responsive(src="/img/production/windowSupport/LR-13.5-ping-d.jpg") 
  .section.clearfix
    h2.text-center(name="LR-220-ping-b") LR-180型
    h3 方槽不锈钢幕墙上悬窗撑
    .col-sm-6
      img.img-responsive(src="/img/production/windowSupport/LR-13.5-ping-b.jpg") 
    .col-sm-6
      img.img-responsive(src="/img/production/windowSupport/LR-13.5-ping-b-con.jpg")
    .col-sm-12
      h3.text-center 详细数据
      .table-responsive
        table.table.table-hover.table-bordered
          tr
            th 规格
            th 长度A
            th 长度B
            th 长度C
            th 长度D
            th 长度E
            th 长度F
            th 长度G
            th 叠高H
            th I
            th J
            th K
            th L
            th 开启角度
            th 窗最重(kg)
            th 窗最高(mm)
            th 窗最宽(mm)
          tr
            td 10''×3
            td 37
            td 82
            td --
            td 141
            td 36
            td 147
            td 169
            td 17
            td 198
            td 251.5
            td 259.5
            td --
            td 25°-30°
            td 20
            td 600
            td 1200
          tr
            td 12''×3
            td 37
            td 82
            td 100
            td 158
            td 36
            td 151.5
            td 173.5
            td 17
            td 238.5
            td 294.5
            td 302.5
            td --
            td 30°-35°
            td 25
            td 800
            td 1300
          tr
            td 14''×3
            td 37
            td 82
            td 149
            td 197
            td 36
            td 167
            td 190
            td 17
            td 255
            td 346.5
            td 354.5
            td --
            td 30°-35°
            td 30
            td 1000
            td 1300
          tr
            td 16''×3
            td 37
            td 82
            td 166.8
            td 214.8
            td 36
            td 172.5
            td 201.5
            td 17
            td 266.5
            td 394
            td 402
            td --
            td 30°-35°
            td 35
            td 1200
            td 1400
          tr
            td 18''×3
            td 37
            td 82
            td 219.1
            td 267.1
            td 36
            td 185
            td 210
            td 17
            td 275
            td 446
            td 454
            td --
            td 30°-35°
            td 40
            td 1400
            td 1400
          tr
            td 20''×3
            td 37
            td 82
            td 256.3
            td 304.3
            td 36
            td 195
            td 216
            td 17
            td 281
            td 509.5
            td 517.6
            td --
            td 25°-30°
            td 45
            td 1600
            td 1500
          tr
            td 22''×3
            td 37
            td 82
            td 314
            td 262
            td 36
            td 189.5
            td 219.5
            td 17
            td 284.5
            td 549.5
            td 557.5
            td --
            td 25°-25°
            td 50
            td 1600
            td 1500
          tr
            td 24''×3
            td 37
            td 82
            td 314
            td 262
            td 36
            td 185
            td 201
            td 17
            td 266
            td 595.5
            td 603.5
            td --
            td 25°-25°
            td 55
            td 1800
            td 1500
    h3 限位伸缩撑
    .col-sm-6
      img.img-responsive(src="/img/production/windowSupport/shensuocheng.jpg") 
    .col-sm-6
      img.img-responsive(src="/img/production/windowSupport/shensuocheng-con.jpg")
    h3 方平移平行系列窗撑
    .col-sm-6
      img.img-responsive(src="/img/production/windowSupport/pingyicheng.jpg") 