//Created by Administrator on 2016/11/16.
extends ../layout

block content
  .banner.container-fluid
    .row
      .bannerPic
        .banner-text 平开滑撑
  .section
    .col-md-4
      .cate 
    .col-md-4
      .cate 执手系列
    .col-md-4
    .col-md-4
  .section
    .content
      .title
        .icon