//
   Created by Administrator on 2016/11/21.

.footer.container-fluid
  .row
    .col-sm-3.col-sm-offset-1.infomation
      .phone 客服号码：13527057366
      address 公司地址：广东省肇庆市高要区。。
    .col-sm-2.col-sm-offset-3.col-xs-6.text-center
      .EQ 客服微信号
        img.img-responsive(src="/img/personalEQ.jpg")
    .col-sm-2.col-xs-6.text-center.text-center
      .EQ 官方微信公众号
        img.img-responsive(src="/img/wechatEQ.jpg")
  .row
    .copyright.text-center Copyright&copy;凌尔&nbsp;&nbsp;&nbsp;2017

