link(href="/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(href="/css/common.css", rel="stylesheet")
link(href="/css/footer.css", rel="stylesheet")
link(href="/css/#{page}.css" rel="stylesheet")
script var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?8e0f5eebfda23c77563e99e14ba646a0"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s);})();
script(src="/jquery/dist/jquery.min.js")
script(src="/bootstrap/dist/js/bootstrap.min.js")
script(src="/classie/classie.js")
script(src="/js/common.js")
